<tr>
  <td><%= full_name(bid) %></td>
  <td><%= bid.phone %></td>
  <td><%= l bid.created_at, format: :long %></td>
  <td class="table-actions-td">
    <%= link_to admin_bid_path(bid), class: "btn btn-success" do %>
      <i class="fa fa-search-plus"></i>
    <% end %>
    <%= link_to edit_admin_bid_path(bid), class: "btn btn-info" do %>
      <i class="fa fa-edit"></i>
    <% end %>
    <%= link_to admin_bid_path(bid), method: 'delete', class: "btn btn-danger", data: {confirm: 'Вы уверены?'} do %>
      <i class="fa fa-trash-o"></i>
    <% end %>
  </td>
</tr>
