<div class="sidebar">
  <nav class="sidebar-nav">
    <ul class="nav">
      <li class="nav-title">Меню</li>
      <li class="nav-item">
        <%= link_to admin_bids_path, class: "nav-link" do %>
          <i class="nav-icon icon-list"></i> Заявки
        <% end %>
      </li>
      <li class="nav-item">
        <%= link_to admin_faculties_path, class: "nav-link" do %>
          <i class="nav-icon icon-list"></i> Факультеты
        <% end %>
      </li>
      <li class="nav-item">
        <%= link_to admin_specialties_path, class: "nav-link" do %>
          <i class="nav-icon icon-list"></i> Специальности
        <% end %>
      </li>
      <li class="nav-item">
        <%= link_to admin_users_path, class: "nav-link" do %>
          <i class="nav-icon icon-user"></i> Пользователи
        <% end %>
      </li>
      <li class="nav-item mt-auto">
        <%= link_to destroy_user_session_path, method: :delete, class: "nav-link" do %>
          <i class="nav-icon fa fa-sign-out"></i> Выйти
        <% end %>
      </li>
    </ul>
  </nav>
</div>
